<!-- <div class="backdrop">
    <div id="box">
    </div>
    <h1>AYUSH THAKUR</h1>
</div> -->

<div class="intro-container d-flex justify-content-between">
    <div style="min-width: 500px;">
        <div class="d-flex justify-content-start">
            <h3 id="hello">
                HELLO
            </h3>
            <span id="horizontal-line"></span>
        </div>
        <h1>I AM AYUSH THAKUR</h1>
        <h3>SENIOR SOFTWARE ENGINEER (5+ Years of experience)</h3>
        <div class="d-flex justify-content-left mt-3">
            <button class="btn btn-primary mr-2 bring-top">View Resumé</button>
            <button class="btn btn-primary bring-top">Contact Me</button>
        </div>
    </div>
    <img src="assets/introImg.png" alt="not found" class="introImg">
</div>