.image-holder {
    img {
        height: 50px;
        padding-right: 2%;
    }
}

.card-body {
    min-height: 250px;
}

.card {
    width: 18rem;
}

button.btn-link {
    text-decoration: underline;
}